.App {
  text-align: center;
  margin: 20px;
  /* padding: 10px; */
  color: whitesmoke;
  /* background-color: rgba(148, 147, 147, 0.815); */
  /* background-image: url(./components/images/appBack.jpg); */
  background-image: url(./components/images/darkHeader.jpg);

}
.desc{
  background-color: black;
}
a{
  color: aqua;
}
.cardsCont{
  max-width: 250px;
  border-radius: 10px;
  /* background-color: rgba(7, 7, 7, 0.466); */
  background-color: rgba(0, 255, 255, 0.719);
}
.Searchlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pageLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul{
  list-style: none;
}
.topPics{
  max-width: 70%;
  height: auto;
}
.topCont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.topCols{
  max-width: 250px;
  /* min-height: 715px; */
  height: 705px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.BookLogo{
  max-height: 50px;
  color: whitesmoke;
  padding: 10px;
  margin: 10px;
  /* outline: black; */
}

div{
  border: solid 2px whitesmoke;
  margin: 10px;
  padding: 10px;

}
.Contact{
  display: flex;
  flex-direction: column;
}

.Header{
  color: whitesmaoke;
  outline: black;
  background-color: none;

  /* background-image: url(./components/images/appBack.jpg); */
}