.App {
  text-align: center;
  margin: 10px;
  color: whitesmoke;
  background-image: url(./components/images/darkHeader.jpg);
  border-radius: 10px;
}

textarea{
  height: 100px;
  max-width: 300px;
  border-radius: 2px;
  font-size: 15px;
}

input[type = 'text'],[type='email']{
  height: 20px;
  max-width: 300px;
  font-size: 15px;
  border-radius: 2px;
}

#formSub{
  height: 40px;
  width: 100px;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgb(2, 247, 255);
}

.desc{
  background-color: black;
}

a{
  color: rgb(2, 247, 255);
}

.cardsCont{
  width: 200px;
  border-radius: 10px;
  color: black;
  background-color: rgba(247, 248, 248, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Searchlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pageLinks{
  background-color: rgba(144, 145, 145, 0.295);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
}

ul{
  list-style: none;
}

.topPics{
  max-width: 70%;
  height: auto;
}

.topCont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.topCols{
  max-width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: black;
  background-color: rgba(247, 248, 248, 0.397);
}

.BookLogo{
  height: 50px;
  color: whitesmoke;
  padding: 10px;
  margin: 10px;
}

div{
  margin: 10px;
  padding: 10px;
}

.Contact{
  display: flex;
  flex-direction: column;
}

.Header{
  color: whitesmaoke;
  outline: black;
  background-color: none;
}

.Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}